body{
	font-family:"arial";
	background-color:rgb(65,92,72);
	overflow:inherit;
	width:100%;
	height:100%;
}

div#fg{
	position: absolute;
	left: 15%;
	top: 20%;
	background-color:rgb(255,255,255);
	height: 90%;
	width: 85%;
	border-top-left-radius: 10%;	
	overflow:scroll;
}

h3#pageHeader{
	color:white;
	padding:2%;
}

ul#navBar{
	position:	absolute;
	top:	10%;
	left:	15%;
}

li.navButton{
	color:	white;
	
	list-style:	none;
}

div#navBar{
	z-index: 99;
	position:	absolute;
	top:	15%;
	left:	15%;
	width: 86%;
	height: 85%;
}

.ui-widget-header{
	position:	relative;
	top:	-5px;
	left:	-9px;
	background-color:#415c48;
	border-color:	#415c48;
}
.ui-state-active a, .ui-state-active a:link{
	color:#415c48;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	border-color: #EEEEEE;
	background:	#EEEEEE;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
	color:	#415C48;
}

.small{
	font-size: .75em;
}
